# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# hidden files but
.*
!.gitignore

# swp, log, backup etc.
*.swp
*.log
*.bak
*~
tags
Session.vim

# specific folder

